# Assignment

## 1) Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not. You can use a pre-calculated list/dict to store fab numbers till 10000

In [1]:
import sys
sys.setrecursionlimit(15000)

In [4]:
def fibonacci(n):
    if n == 0:
        return [0]
    elif n == 1:
        return [0, 1]
    else:
        lst = fibonacci(n-1)
        lst.append(lst[-1] + lst[-2])
        return lst
lst = fibonacci(10000)

def checkFibonacci(n):
  print('True') if (lambda x : x in lst) else print('False')

checkFibonacci(5)

True

## 2) Using list comprehension (and zip/ lambda/etc if required) write five different expressions that:

a) Add 2 iterables a and b such that a is even and b is odd

In [8]:
e = [x for x in range(10, 20) if x%2==0]
o = [x for x in range(10, 20) if x%2]

print(e)
print(o)

print([x+y for x,y in zip(e, o)])

[10, 12, 14, 16, 18]
[11, 13, 15, 17, 19]
[21, 25, 29, 33, 37]

b) Strips every vowel from a string provided

In [9]:
def strip(x):
  return [c for c in x if c.upper() not in "AEIOU"]

print(''.join(strip('tsai')))

ts

c) Acts like a ReLU function for a 1D array

In [11]:
def reLu(lst):
  return [x for x in lst if x>=0]

reLu([-10, -1, 0 ,1, 10])

[0, 1, 10]

d) Acts like a sigmoid function for a 1D array

In [12]:
import math
def sigmoid(lst):
  return [1/(1+math.exp(-x)) for x in lst]

sigmoid([-10, -5, -1, 0, 1, 5, 10])

[4.5397868702434395e-05,
 0.0066928509242848554,
 0.2689414213699951,
 0.5,
 0.7310585786300049,
 0.9933071490757153,
 0.9999546021312976]

e) Takes a small character string and shifts all characters by 5

In [16]:
def shiftByN(s, n=1):
     return [chr((ord(x) - 97 + n)%26 + 97) for x in s]
print(''.join(shiftByN('tsai', 5)))

yxfn

## 3) A list comprehension expression that takes a ~200 word paragraph, and checks whether it has any of the swear words

In [17]:
!git clone 'https://github.com/RobertJGabriel/Google-profanity-words.git'
f = open("/content/Google-profanity-words/list.txt", "r")
swearWords = [x.strip('\n') for x in f]

Cloning into 'Google-profanity-words'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 25 (delta 2), reused 0 (delta 0), pack-reused 16
Unpacking objects: 100% (25/25), done.

In [19]:
s = """The natural environment encompasses all living and non-living things occurring naturally, meaning in this case not artificial. The term is most often applied to the Earth or some parts of Earth. This environment encompasses the interaction of all living species, climate, weather and natural resources that affect human survival and economic activity.[1] The concept of the natural environment can be distinguished as components:
    fcuk
    Complete ecological units that function as natural systems without massive civilized human intervention, including all vegetation, microorganisms, soil, rocks, atmosphere, and natural phenomena that occur within their boundaries and their nature.
    Universal natural resources and physical phenomena that lack clear-cut boundaries, such as air, water, and climate, as well as energy, radiation, electric charge, and magnetism, not originating from civilized human actions.

    In contrast to the natural environment is the built environment. In such areas where humans have fundamentally transformed landscapes such as urban settings and agricultural land conversion, the natural environment is greatly changed into a simplified human environment. Even acts which seem less extreme, such as building a mud hut or a photovoltaic system in the desert, the modified environment becomes an artificial one. Though many animals build things to provide a better environment for themselves, they are not human, hence beaver dams, and the works of mound-building termites, are thought of as natural. """

In [20]:
def checkSwear(s):
  print('True') if([x for x in s.split() if x in swearWords]) else print('False')
checkSwear(s)

True

## 4) Using reduce functions:

a) Add only even numbers in a list

In [23]:
from functools import reduce
lst = [x for x in range(20,30)]

print(lst)
print(reduce(lambda x,y : x+y, [x for x in lst if x%2==0]))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
120

b) Find the biggest character in a string

In [25]:
import string
s=string.ascii_letters

print(s)
reduce(lambda x, y : x if x > y else y, s)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

'z'

c) Adds every 3rd number in a list

In [30]:
lst=[x for x in range(20,30)]

print(lst)
print(reduce(lambda x,y : x+y, lst[::3]))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
98

## 5) Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999

In [ ]:
import random
import string

def createNumberPlate():
  alphabets = string.ascii_uppercase
  twoAlphabets = [alphabets[i]+alphabets[j] for i in range(len(alphabets)) for j in range(len(alphabets))]

  return ['KA' + str(random.randint(10, 99)) + random.choice(twoAlphabets) + str(random.randint(1000, 9999)) for _ in range(15)]

print(createNumberPlate())

['KA53AH7400', 'KA95DK3887', 'KA52FE9875', 'KA20JE5366', 'KA96BN8297', 'KA18SZ6852', 'KA49PP7469', 'KA19SE8756', 'KA20OB4408', 'KA27PP8455', 'KA92PW7230', 'KA95DE2647', 'KA54HR4713', 'KA95XP8352', 'KA42IP4210']

## 6) Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided

In [34]:
import random
import string

def createNumberPlate(r):
  alphabets = string.ascii_uppercase
  twoAlphabets = [alphabets[i]+alphabets[j] for i in range(len(alphabets)) for j in range(len(alphabets))]
  firstLetters = ['KA', 'DL']
  return [random.choice(firstLetters) + str(random.randint(10, 99)) + random.choice(twoAlphabets) + str(random.randint(r[0], r[1])) for _ in range(15)]

print(createNumberPlate((4000,5000)))

['DL12HY4904', 'DL23ON4827', 'DL49UU4171', 'KA35CU4705', 'KA49TJ4184', 'DL44SO4441', 'DL66IO4335', 'KA93ZS4713', 'KA63PG4700', 'KA79VM4654', 'DL13CG4821', 'KA43VM4920', 'KA38TN4215', 'DL28DI4469', 'DL25MS4614']